---
layout: default
---
<style>
  body {
    overscroll-behavior-x: none;
  }
  .gallery_img {
    max-width: 50%;
    height: auto;
    padding: 50px;
  }
  #gallery {
    left: 25%;
    paddint-top: 500px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    overflow-x: auto;
  }
        

</style>

<script>
  gallery.addEventListener('wheel', (ev) => {
    if (!ev.shiftKey) {
      ev.preventDefault();
      gallery.scrollLeft += ev.deltaY + ev.deltaX;
  } 
</script>

{% assign c = site.collections | where: "label", page.collection | first %}
{% assign series_path = page.path | split: "." | first %}
{% assign images = c.files | where_exp: "image", "image.path contains series_path" %}

{% assign series = series_path | split: "/" | last %}


<div id=gallery>
{% for image in images %}
  <img class=gallery_img src="{{ series }}/{{ image.name }}">
{% endfor %}
</div>
  



{{ content }}
