---
layout: default
title: photo / chalk
---
<style>
  .gallery_img {
    max-width: 75%;
    height: auto;
    padding-bottom: 50px;
  }
</style>
{% assign c = site.collections | where: "label", page.collection | first %}
{% assign series_path = page.path | split: "." | first %}
{% assign images = c.files | where_exp: "image", "image.path contains series_path" %}

{% assign series = series_path | split: "/" | last %}


{{ page | inspect }}
{% for image in images %}
  <img class=gallery_img src="{{ series }}/{{ image.name }}">
{% endfor %}

{{ content }}
